* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #FFD47F;
}

body::-webkit-scrollbar {
    width: 12px;
    background-color: #FFC045
}

body::-webkit-scrollbar-thumb {
    background: #4E388E;
    border-radius: 3px;
}

.navbar {
    background-color: #FFC045;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
    height: 75px;
}

.navbar a {
    font-size: 18px;
}

.search input{
    height: 35px;
    padding: 12px;
    width: 300px;
    outline: none;
    border-radius: 8px;
    border: none;
    box-shadow: 0 1px 5px;
}

.search.active input {
    border-radius: 8px 8px 0 0 ;
}

.search .list {
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
}

.search.active .list {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.list li {
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: pointer;
    border-radius: 3px;
}

.search.active .list li {
    display: block;
}

.list li:hover {
    background-color: #efefef;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFD47F;
    height: 100vh;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 16px auto;
    width: 80%;
}

.imagem img {
    height: 300px;
}

.conteudo {
    width: 500px;
}

.descricao {
    font-size: 24px;
    font-weight: 500;
}

.contatos {
    margin: auto;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 52px;
    text-align: center;
}

.content h1 {
    font-size: 56px;
    font-weight: 700;
}

.icons {
    display: flex;
    gap: 36px;
}

.contact-icons {
    text-decoration: none;
    color: black;
    font-size: 126px;
}

.contact-icons:hover {
    color: #4F4F4F;
}

@media (max-width: 1026px) {

    .main-container {
        padding: 50px;
        height: 100vh;
    }

    .flex-container {
        margin: 50px auto;
        width: 80%;
    }

    .imagem {
        align-self: flex-start;
    }

    .imagem img {
        height: 200px;
    }
    
    .conteudo {
        width: 300px;
        padding: 18px;
    }
    
    .descricao {
        font-size: 16px;
        font-weight: 500;
    }
    
    .contatos {
        width: 100%;
        margin: auto;
    }
    
    .content {
        display: flex;
        flex-direction: column;
        gap: 52px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    .content h1 {
        font-size: 36px;
        font-weight: 700;
    }
    
    .icons {
        width: 300px;
        display: flex;
        flex-wrap: wrap;
        gap: 36px;
        justify-content: center;
        align-items: center;
    }
    
    .contact-icons {
        text-decoration: none;
        color: black;
        font-size: 126px;
    }
}


@media (max-width: 992px) {
    .main-container {
        padding: 50px;
        height: 100vh;
    }

    .flex-container {
        margin: 50px auto;
        width: 80%;
    }


    .flex-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imagem {
        align-self: flex-start;
    }

    .imagem img {
        height: 200px;
    }
    
    .conteudo {
        width: 300px;
        padding: 18px;
    }
    
    .descricao {
        font-size: 16px;
        font-weight: 500;
    }
    
    .contatos {
        width: 100%;
        margin: auto;
    }
    
    .content {
        display: flex;
        flex-direction: column;
        gap: 52px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    .content h1 {
        font-size: 36px;
        font-weight: 700;
    }
    
    .icons {
        width: 300px;
        display: flex;
        flex-wrap: wrap;
        gap: 36px;
        justify-content: center;
        align-items: center;
    }
    
    .contact-icons {
        text-decoration: none;
        color: black;
        font-size: 126px;
    }
}

@media (max-width: 600px) {

    .main-container {
        padding: 50px;
        height: 100vh;
    }

    .flex-container {
        margin: 50px auto;
        width: 80%;
    }


    .conteudo {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .imagem img {
        height: 150px;
    }

    .contact-icons {
        text-decoration: none;
        color: black;
        font-size: 126px;
    }
}