* {
    padding: 0;
    margin: 0;
}

body {
    background: url(./assets/images/espaço\ sideral\ 2.jpg) no-repeat center top/ cover;
}

body::-webkit-scrollbar {
    width: 12px;
    background-color: #FFC045
}

body::-webkit-scrollbar-thumb {
    background: #4E388E;
    border-radius: 3px;
}

.navbar {
    background-color: #FFC045;
    
}

.list li {
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}

.list li:hover {
    background-color: #4E388E;
}

.searc.active .list {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.searc.active .list li {
    display: block;
}

.searc.active input {
    border-radius: 5px 5px 0 0;
}

.container {
    margin: 25px auto;
}

.card-body {
    border-radius: 12px 12px 6px 6px;
    background-color: #4E388E;
}

.card-button {
    font-family: 500;
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: #FFC045;
    border-radius: 8px;
    padding: 6px;
}

.card-title {
    font-weight: 700;
}

.card-text {
    font-weight: 500;
}